# Exploring classifier results
Day 3, by Greg Gavelis -- 
ggavelis@bigelow.org
<br>

# Part I:
Walkthrough led by Greg

### Load the results table into a dataframe

In [2]:
!ls -h /mnt/storage/data/daily-data/day3/classifier_support_files/index.fmi.zip

/mnt/storage/data/daily-data/day3/classifier_support_files/index.fmi.zip

In [1]:
import seaborn as sns
import pandas as pd
pd.set_option("display.max_rows", 10)

PATH_data="/mnt/storage/data/daily-data/day3/SRR11600247_annotated.txt"
df=pd.read_csv(PATH_data, sep='\t')

### What kind of information does it contain?
1. preview it with df.head() or df.columns

In [2]:
df.head()

,status,sequence_id,taxonomy_id,length,taxonomy_ids_lca,sequence_ids_lca,protein_sequence,taxonomic_lineage,prokka_EC_number,prokka_product,swissprot_gene,swissprot_EC_number,swissprot_eggNOG,swissprot_KO,swissprot_Pfam,swissprot_CAZy,swissprot_TIGRFAMs
0,U,SRR11600247.5960679,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C,SRR11600247.27196194,2014364611,132.0,"2014364611,","AM225C04_N3;9584;10264,","GEQQRVAVARALANEPQLLLADEPTGSLDP,",Bacteria; Proteobacteria; Alphaproteobacteria;...,3.6.3.-,Lipoprotein-releasing system ATP-binding prote...,NaN,NaN,"ENOG4105CQU,CCOG1136",K09810,PF00005,NaN,NaN
2,C,SRR11600247.15528877,3921893553,275.0,"3921893553,","AM130L19_N5;3248;4303,AM130O13_N29;1813;2868,",RNGIHIIDLQQTVGLFKEAYNFVRDVVAEGGEVLFVGTKKQAQGII...,Bacteria; Desulfobacterota_D; UBA1144; UBA2774...,NaN,hypothetical protein,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C,SRR11600247.20873063,3627313227,293.0,"3627313227,","AM390O23_N4;3639;4121,",GWAYLYIGSLISFGAAAMWVLPLMIGNRKTRSVPFGPFMAFGVLAS...,Bacteria; Actinobacteriota; Actinomycetia; Nan...,NaN,hypothetical protein,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U,SRR11600247.13212457,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. How long is this dataframe?

In [3]:
len(df)

1000000

### First column: "status"
i.e. whether the read was
* C = classified
* U = unclassified

How many of our reads were classified?

In [4]:
df['status'].value_counts()

U    578546
C    421454
Name: status, dtype: int64

### Let's subset this dataset down (df -> sdf) to classified reads only

In [6]:
sdf = df.loc[df['status'] == 'C']

### And use len() to verify that sdf has many reads as we expect
len(sdf)

421454

## Taxonomic columns:
* <b>taxonomy_id</b> _____ = the unique numeric code for the taxonomic lineage
* <b>taxonomy_ids_lca</b> ____ = code of the last common ancestor
* <b>taxonomic_lineage</b>

<u>Examples of taxonomic lineage:</u><Br>

*Classified to genus*<br>
Bacteria; Desulfobacterota; Desulfobacteria; Desulfobacterales; Desulfobacteraceae; Desulfobacula; NA
<br>
<br>
*Classified to species*<br>
Bacteria; Marinisomatota; Marinisomatia; SCGC-AAA003-L08; JACNLC01; JABMOW01; JABMOW01 sp013204025
<br>
#### What's with these weird taxon names like "JABMOW01"?
Erected by GTDB as placeholder names that reflect real genomic diversity but await Linnean naming.

### What are the 10 most abundant taxa in your dataset?

In [8]:
sdf['taxonomic_lineage'].value_counts()[0:10]

Bacteria; Desulfobacterota; DSM-4660; Desulfatiglandales; NA; NA; NA;                                                       30888
Bacteria; Actinobacteriota; Actinomycetia; Nanopelagicales; S36-B12; UBA4592; UBA4592 sp002365735;                          25854
Bacteria; Desulfobacterota; Desulfobacteria; Desulfobacterales; Desulfobacteraceae; Desulfobacula; NA;                      20726
Bacteria; Bacteroidota; Bacteroidia; Bacteroidales; NA; NA; NA;                                                             12821
Archaea; Thermoproteota; Nitrososphaeria; Nitrososphaerales; Nitrosopumilaceae; Nitrosopumilus; NA;                         12657
Bacteria; Verrucomicrobiota; Kiritimatiellae; SPBP01; NA; NA; SPBP01 sp004525935;                                           10870
Bacteria; Actinobacteriota; Actinomycetia; Nanopelagicales; S36-B12; UBA4592; UBA4592 sp002469525;                          10360
Bacteria; Campylobacterota; Campylobacteria; Campylobacterales; Sulfurimonadaceae; Sulfurimonas; NA;                         9692
Bacteria; Desulfobacterota; DSM-4660; Desulfatiglandales; Desulfatiglandaceae; DUZB01; NA;                                   7833
Bacteria; Actinobacteriota; Actinomycetia; Mycobacteriales; Mycobacteriaceae; Mycobacterium; Mycobacterium sp018401645;      7359
Name: taxonomic_lineage, dtype: int64

## Annotation columns:
* <b>prokka_EC_number</b>  _______ EC = enzyme catalog
* <b>prokka_product</b>  __________ *The most human readable field*
* <b>swissprot_gene</b>
* <b>swissprot_EC_number</b>
* <b>swissprot_eggNOG</b>   ______ eggNOG = protein orthology database (European Molecular Biology Laboratory)
* <b>swissprot_KO</b>    ___________ KO = Kegg Orthology (Kyoto Encyclopedia of Genes and Genomes)
* <b>swissprot_CAZy</b>  _________ CAZy = database of carbohydrate-active enzymes
* <b>swissprot_TIGRFAMs</b> _____ protein orthology database (NCBI)

Swissprot is a larger protein reference database than prokka\'s default database

# Part II:
Take a couple minutes to think about what taxa or functions you'd like to explore.
<br><br>
Among group: Discuss your categories of interest.<br>
Then share ways you might expore that category.<br>
Can use R, python, Excel, etc...<br>
This is open-ended. Don't have to present anything unless you want to.

In [7]:
#### Example of how you could subset the dataset (sdf -> tdf) to a taxon of interest:
STR_taxon="Archaea; Thermoproteota; Nitrososphaeria; Nitrososphaerales; Nitrosopumilaceae; Nitrosopumilus; NA; "
tdf=sdf.loc[sdf['taxonomic_lineage']==STR_taxon]

### How mant reads were assigned to that taxon?
len(tdf)

12657